<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ show_list.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' show_list.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' show_list.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stuff in show_list.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' stuff.id %}">{{ stuff.task }}</a> </td>
                        <td>{{ stuff.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>